# Mean

$$ Mean_{data} = \frac{\sum_{i=0}^{n} X_{i}}{Total number} $$

This the formula of Mean

# Median

$$ Median_{data} = \frac{n+1}{n} term $$

This is the formula for Median when n is odd

$$ Median_{data} = \frac{\left ( \frac{n}{2} \right )term+\left ( \frac{n}{2}+1 \right )term}{2} $$
This is the formula for median when n is even

# Mode

Mode is the most repetitive value of a given set of values

In [116]:
#Code from scratch to calculate mean median,mode for perticular numbers
class CT:
    def __init__(self,*args):
        self.args=sorted(args)
        print(self.args)
    def mean(self):
        m=0
        for i in self.args:
            m=m+i
        print("mean is",m/len(self.args))
    def median(self):
        if len(self.args)%2!=0:
            print("Median for odd count is",self.args[((len(self.args)+1)//2)-1])
        else:
            #m1=self.args[(len(self.args)//2)-1]
            #m2=self.args[((len(self.args)//2)+1)-1]
            #m3=(m1+m2)/2
            #print(m1)
            #print(m2)
            #print(m3)
            print("Median for even count is",((self.args[(len(self.args)//2)-1])+(self.args[((len(self.args)//2)+1)-1]))/2)          
    def mode(self):
        if len(set(self.args))==len(self.args):
            print("there is no mode present")
        else:
            mode=max(self.args,key=self.args.count)
            print("mode is",mode)

            
            
            
c1=CT(10,20,30,40,50,70,60)
c1.mean()
c1.median()
c1.mode()
c2=CT(10,20,30,40,50,60,80,70)
c2.mean()
c2.median()
c2.mode()
c3=CT(10,20,15,10,10)
c3.mean()
c3.median()
c3.mode()

[10, 20, 30, 40, 50, 60, 70]
mean is 40.0
Median for odd count is 40
there is no mode present
[10, 20, 30, 40, 50, 60, 70, 80]
mean is 45.0
Median for even count is 45.0
there is no mode present
[10, 10, 10, 15, 20]
mean is 13.0
Median for odd count is 10
mode is 10

In [171]:
#calculating mean,median,mode using numpy and pandas
import pandas as pd
import numpy as np
r=pd.read_csv("C:\\Users\\DADA\\Downloads\\iris.csv",names=["sepal length in cm","sepal width in cm","petal length in cm",
"petal width in cm","class"])
p=r.drop("class",axis=1)
#print(p)
n=np.array(p)
#print(n)
mean=np.mean(n,axis=0)
print("mean is",mean)
median=np.median(n,axis=0)
print("median is",median)
#we can't calculate mode by using numpy

mean is [5.84333333 3.054      3.75866667 1.19866667]
median is [5.8  3.   4.35 1.3 ]

In [155]:
r.mean()

sepal length in cm    5.843333
sepal width in cm     3.054000
petal length in cm    3.758667
petal width in cm     1.198667
dtype: float64

In [156]:
r.median()

sepal length in cm    5.80
sepal width in cm     3.00
petal length in cm    4.35
petal width in cm     1.30
dtype: float64

In [170]:
r.mode()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.0,3.0,1.5,0.2,Iris-setosa
1,NaN,NaN,NaN,NaN,Iris-versicolor
2,NaN,NaN,NaN,NaN,Iris-virginica